{% extends "global/Page.html" %}
{% load otree %}

{% block title %}知情同意&人口学信息{% endblock %}

{% block content %}
<br>
<p>
我们将要开展一项有关决策与情感的研究，您符合该项研究的入组条件，因此，我们想邀请您参加该项研究。本知情同意书将向您介绍该研究的目的、
    步骤、获益、风险、可能给您带来的不便或不适等，请仔细阅读后慎重做出是否参加该研究的决定，如果您有不明白的地方，可以与家人或者
    朋友讨论之后再做决定。我们需要您在实验期间保持专注，在实验开展前主动选择安静的空间，尽可能屏蔽实验无关刺激的干扰，然后开展实验。
<br><strong>研究目的(Purpose)</strong><br>
本研究旨在了解人的决策与情感的关系。由于研究将用于发表，暂时无法公布过多研究背景相关信息，请见谅。
<br><strong>实验过程(Procedure)</strong><br>
您将被要求按照网页中的实验流程提示，根据每个网页中内容的指引做出主观判断，您的判断需要遵循您本人的意愿，请主动屏蔽外界环境因素干扰。
    实验需要大约30分钟。本实验完成后无回访要求，但为保证个人信息录入无误，请在实验结束一周内保持联系畅通。
<br><strong>被试选择（Participants）</strong><br>
  本实验以网页投放的形式发布，选择被试的年龄范围较为自由，请如实填写。每位参与者仅可参加一次。本实验要求被试在实验前期无长期服药，
    无咖啡因，酒精等摄入，近期无睡眠障碍等（选择被试的标准旨在获得您健康和稳定情绪状态下的实验结果，如果您近期精神压力较大，或当前情绪不稳定，请
    稍作休息，或另择时间参与。）
<br><strong>潜在风险（Potential Risks）</strong><br>
此实验无任何潜在风险。
<br><strong>收益(Benefits)</strong><br>
<ul><li>你的参与将帮助我们更好地了解此领域的未知问题。</li>
<li>你将因参与本实验获得每小时40元的报酬。该报酬将以微信，支付宝或现金的方式立即支付给您。</li>
<li>您同意参与实验后中途退出，主试将有权视情况而定发放相应补偿。</li>
</ul><br><strong>实验终止（Withdrawal）</strong><br>
你的参与完全基于自愿的原则，你可以在实验的任何过程中要求退出。原则上，在您退出之后，研究者将严密保存您的相关信息直至最终销毁，
    期间不会继续使用或透露这些信息。但在以下极少数情况下，研究者将继续使用或透露您的相关信息，即使您已经退出研究或研究已经结束。这些情况包括：
<ul><li>除去您的信息将影响研究结果的科学性或对数据安全的评价。</li>
<li>为研究、教学或其他活动提供一些有限的信息（这些信息不会包括您的姓名、身份证号码、或者其他能识别您身份的个人信息）。</li>
<li>一旦出现任何可能会影响您决定是否继续参加该项研究的信息，我们会及时告知您。</li></ul><br>

<br><strong>保密性（Confidentiality）</strong>
你在本实验中的任何表现都仅将作为统计数据加以分析，不会将其与你的身份关联，更不会将其泄露给除了研究人员的第三方。但为了财务报销上的
    需要，我们会需要记录你的有关信息，但这些信息将不会被披露。<br>
<br><strong>主试声明(Experimenter Declaration)</strong>
  “我已告知该被试本次实验相关的研究背景、目的、步骤、风险及获益情况，给予他/她足够的时间阅读知情同意书、与他人讨论，并解释了其有
    关研究的问题；我已告知该受试者当遇到与研究相关的问题时可随时与实验主试联系，遇到与自身权利/权益相关问题时随时与南方科技大学医
    学伦理委员会联系，并提供了准确的联系方式；我已告知该受试者他/她可以退出本研究；我已告知该受试者他/她将得到这份知情同意书的副本，
    上面包含我和他/她的签名。”
联系方式：yuh7@mail.sustech.edu.cn
<br>
<strong>被试声明(Participant Declaration)</strong><br>
 “我已被告知（项目名称）的研究的背景、目的、步骤、风险及获益情况。我有足够的时间和机会进行提问，我对问题的答复很满意。我也被告知，
    当我有问题、想反映困难、顾虑、对研究有建议，或想进一步获得信息，或为研究提供帮助时，应当与谁联系。我已经阅读这份知情同意书，
    并且同意参加本研究。我知道我可以在研究期间任何时候无需任何理由退出本研究。我被告知我将得到这份知情同意书的副本，上面包含我和
    研究者的签名。”
<br>
</p>
{% for field in form%}
    {% formfield field %}
{%endfor%}
<br>
<br>
如同意，请点击next继续。如不同意，请关闭网页退出。
{% next_button %}
<hr>
<br>
        <strong>游戏流程简介如下：</strong><br><br>
<strong>接下来您将随机扮演玩家A或玩家B，<br></strong>
        <strong>玩家A流程</strong>：<br>第一步，提出分配方案；将100个实验点数（实验点数相当于金钱）分配给<strong>自己</strong>和玩家B。<br>
              第二步，等待玩家B的意见。<br>
               第三步，若玩家B接受分配方案，则两人获得玩家A方案中的实验点数，<br>
&emsp;&emsp;&emsp;&emsp;若玩家B不接受，那么两人均无所获（各自获得<strong>零</strong>实验点数）。<br>最后，请把本次分配方案引发的您的情感在
一个双维度情感评价空间中评价出来。<br>


        <strong>玩家B流程</strong>：<br>第一步，得到玩家A给出的方案。<br>
               第二步，决定接受或拒绝玩家A提出的方案。<br>
               第三步，若玩家B接受分配方案，则两人获得玩家A方案中的实验点数（实验点数相当于金钱）,<br>
&emsp;&emsp;&emsp;&emsp;若玩家B不接受，那么两人均无所获（各自获得<strong>零</strong>实验点数）。<br>最后，请把本次分配方案引发的您的情感在
一个双维度情感评价空间中评价出来。
    <br>
        <strong>注意：每轮与您进行游戏的玩家均不同。</strong><br>
<strong>竞争者（<=-12.04）:  <br>
自私者(-12.04~22.45): <br>
亲社者(22.45~57.15): <br>
利他者(>=57.15): </strong>
<br>
{% endblock %}
