{% extends "global/Page.html" %}
{% load otree %}

{% block title %}角色和决策{% endblock %}

{% block content %}

你的角色是<strong>玩家B</strong>. <br>
如果你收到以下的接受方案，你会如何决定？
{% formfields %}

    {% next_button %}
    
<br> 

指导语

<br> 

游戏中，玩家A决定如何接受与你共同持有的100点实验点数。玩家A提供给玩家B接受方案。玩家B决定是否接受。如果玩家B接受接受方案，则两人得到对应实验点数。如果玩家B拒绝接受接受方案，那么两人均无所获（各自获得0实验点数）。
    <br>
   <br> 
- 玩家A会先于玩家B作出SVO结果，并准备好金额分配方案，<br>
然后，玩家B将收到玩家A发送的方案，并决定“接受”或“拒绝”该提议。
<br>
在之后，玩家B被询问经历本事件后，对玩家A所持有的态度。
    <br>
<RESULTS>
一旦两个玩家都做出了决定并执行了这些决定，就会显示结果页面。在这里，将显示接受是被接受还是被拒绝。

{% endblock %}
